.a13a {
    width: 60%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.a13b {
    width: 30%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.judul {
    color: brown;
    font-size: 18px;
    font-weight: bolder;
}

.a1 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a1a {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;

}
    
    
.a2 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a2b {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}

.a2bb {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}

.a3 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a4 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a5 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a5e {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}

.a6 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a6f {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;

}

.a7 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a7g{
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;

}
.a8 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a8h {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}

.a9 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.a9i {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}
.a10 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.pass {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;

}

.a11 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.ekskul {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;

}
.a12 {
    font-size: 15px;
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
}

.alasan {
    color: rgba(113, 42, 7, 0.718);
    font-weight: bold;
    background-color: blanchedalmond;
}
